<meta charset="utf-8">
<title>{{ page.title }} | {{ site.title }}</title>
<meta name="author" content="{{ site.author.name }}">
{% if page.keywords %}
  <meta name="keywords" content="{{ page.keywords }}">
{% endif %}
{% if page.description  %}
  <meta name="description " content="{{ page.description  }}">
{% endif %}
<link rel="shortcut icon" href="{{ site.favicon }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/static/book-list/bootstrap.css">
<link rel="stylesheet" href="/static/book-list/font-awesome.css">
<link rel="stylesheet" href="/static/book-list/prettify.css">
<link rel="stylesheet" href="/static/book-list/base.css">
