---
layout: default
---

<p class="lotus-breadcrub">
    <a href="{{ site.url }}/index.html" rel="nofollow" rel="nofollow" title="首页">首页</a>
    <span> &gt; </span>
    <a href="{{ site.url }}/archives.html" rel="nofollow" >归档</a>
    <span> &gt; </span>
    {{ page.title }}
</p>
<h1 class="lotus-pagetit">{{ page.title }}</h1>
<p class="lotus-meta">AwThink写于 <time class="date" pubdate="{{ page.date  | date: "%Y.%m.%d" }}">{{ page.date | date: "%Y.%m.%d" }}</time>, 分类: {{ page.category | join: "/" }} </p></p>
<article  itemscope itemtype="http://schema.org/Article" class="lotus-post">
{{ content }}
</article>
<p class="postend">--全文完--</p>
<p class="lotus-pagebtn">tags：{{ page.tags | join:', ' }}</p>
<p class="lotus-anno">声明: 未经授权不得转载。转载请<a href="http://awthink.net/about.html#contact" title="获取授权" rel="nofollow">联系</a>，并注明转自: <a href="{{ post.url }}" title="{{ page.title }}" rel="nofollow">{{ site.author.name }}</a></p>
<section class="lotus-nextpage fn-clear">
    {% if page.previous %}
    <div class="lotus-nextpage-left"><a class="prev" href="{{ page.previous.url }}" rel="prev">&laquo;&nbsp;{{ page.previous.title | truncatewords:5 }}</a></div>
    {% endif %}
    {% if page.next %}
    <div class="lotus-nextpage-right"><a class="next" href="{{ page.next.url }}" rel="next">{{ page.next.title | truncatewords:5 }}&nbsp;&raquo;</a></div>
    {% endif %}
</section>

<div class="aw-comments"><a href="https://github.com/ATio/Think/issues/new" class="aw-post-comments">发表评论</a></div>